*{
    font-family: 'Kdam Thmor Pro', sans-serif;
}
body {
    margin: 0;
    padding: 0;
    background-color: #5E60CE;
    color: white;
}
.bg-purpleblue{
    background-color: #240046;
}
.bg-purpleblue:hover{
    background-color: #37006b;
}
.bg-purple{
    background-color: #6930C3;
}
.single_anime_image{
    width: 18rem;
}
.btn-search{
    background-color: #90cf8e;
}
.btn-search:hover{
    background-color: #a7dca5;
}
.text-search{
    color: white;
}
.text-search:hover{
    color: white;
}
.card-body:hover{
    background-color: #e5e5e5;
}
.icon{
    width: 100%;
    max-width: 500px;
    height: auto;
}
a{
    color: white;
}
a:hover{
    color: #e5e5e5;
}